<h1 class="font-poppins font-bold">This is the home page

</h1>
<h2>This is an h2</h2>
<h3>This is an h3</h3>
<p class="font-openSans">this is some content</p>
<ul>
  <li>list item</li>
  <li>list item</li>
</ul>