<div class="container pb-10">
  <h1 class="pt-10">Editing post</h1>

<%= render "form", post: @post %>

<br>

<div class="edit actions">
  <%= link_to "Show this post",  @post , class:"btn mr-4 " %> 
  <%= link_to "Back to posts", posts_path, class:"btn" %>
</div>

</div>